@import "tailwindcss";

*{
    padding: 0 2%;
    
}


/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 10%;
    padding: 0;
}

.sub-nav{
    display: flex;
    flex-direction: row;
    text-decoration: none;  
    align-items: center;
    padding: 0 80px;
    
}

.sub-nav a{
    margin: 10px;
}

a:hover{
    color: rgb(18, 171, 120);
}




/* home page - hero section */

.hero-sec{
    display: flex;
    justify-content: start;
    margin: 10% 0;
}

.profil{
    width: 15%;
    height: 20%;
    border-radius: 50%;
}

.profil-text h1{
    font-size: 30px;
    font-weight: bolder;
}

.profil-text a{
    display: inline-block;
    font-size: 10px;
    background-color: rgb(19, 143, 102);
    border-radius: 10px;
    padding: 8px;
    margin: 20px;
    color: azure;
    transition: 0.3s;
}

.profil-text p{
    margin-bottom: 10px;
}

.profil-text a:hover{
    transform: scale(1.1);
}


/* tools section */

.tools h1{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 5px 0;
}

.tools-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.tool-img{
    /* background-color: rgb(170, 28, 28); */
    border-radius: 5px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

.tool-img img{
    width: 80%;
    height: auto;
    
}

.tool-img:hover{
    transform: scale(1.3);
}



/* porto section  */

.porto{
    margin: 0;
    margin-top: 20%;
}

.porto-card{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px
}

.subporto{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
    width: 500px;
    border-radius: 10px;
    
}

.subporto img{
    border-radius: 10px;
    
}
