.contact-title{
    margin-top: 5%;
    text-align: center;
    
}

.contact-title h1{
    font-size: 40px;
}

.contact-title button{
    background-color: rgb(219, 241, 207);
    padding: 5px 15px;
    border-radius: 20px;
    color: rgb(14, 71, 12);
    margin-top: 20px;
}


.contact-sec{
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-icon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 10%;
    padding: 10px;
    background-color: bisque;
}

.contact-icon img{
    width: 50%;
}

.icon-card{
    display: flex;
    flex-direction: row;
    border: solid 1px gray;
    margin: 10px;
}

.contact-form{
    border: solid 4px rgb(160, 189, 138);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    border-radius: 10px;
    padding: 40px 10px 50px 80px;
}

.contact-form input, select, textarea{
    border: solid 1px rgb(120, 141, 78);
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.contact-form textarea{
    height: 150px;
}

.contact-form button{
    background-color: rgb(160, 189, 138) ;
    padding: 8px 20px;
    border-radius: 10px;
    margin-top: 25px;
    color: rgb(25, 37, 2);
}

.contact-form button:hover{
    background-color: rgb(77, 128, 0);
    color: white;
}
.faq{
    background-color: blueviolet;
    display: flexbox;
    gap: 0%;
}